<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.chuck.android.meetupfoodieandroid"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderStartActivity"
            android:label="@string/title_activity_order_start"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".OrderListActivity"
            android:label="@string/title_activity_order_list"
            android:parentActivityName=".OrderStartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chuck.android.meetupfoodieandroid.OrderStartActivity"/>
        </activity>
        <activity
            android:name=".AddNewFoodActivity"
            android:label="@string/title_activity_add_new_food"
            android:parentActivityName=".OrderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chuck.android.meetupfoodieandroid.OrderListActivity"/>
        </activity>
        <activity
            android:name=".AddToppingsActivity"
            android:label="@string/title_activity_add_toppings"
            android:parentActivityName=".OrderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chuck.android.meetupfoodieandroid.OrderListActivity"/>
        </activity>
        <activity
            android:name=".OrderLoadActivity"
            android:label="@string/title_activity_order_load"
            android:parentActivityName=".OrderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chuck.android.meetupfoodieandroid.OrderListActivity"/>
        </activity>
        <activity android:name=".SettingsRegionAcitvity">
        </activity>
        <activity
            android:name=".OrderSummaryActivity"
            android:label="@string/title_activity_order_summary"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ListToppingsActivity">
        </activity>
        <activity
            android:name=".OrderSelectRestActivity"
            android:label="@string/title_activity_order_select_rest"
            android:parentActivityName=".OrderLoadActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chuck.android.meetupfoodieandroid.OrderLoadActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".OrderSelectLocationActivity">
        </activity>
    </application>

</manifest>